@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #ffd104,#fbff04);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.card {
  position: relative;
  width: 350px;
  height: 190px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px #484747;
  transition: 0.5s;
}

.card:hover {
  height: 520px;
}

.image-container {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translate(-50%);
  width: 150px;
  height: 150px;
  background: #000;
  border-radius: 12px;
  box-shadow: 0 10px 20px #484747;
  overflow: hidden;
  transition: 0.5s;
}

.card:hover .image-container {
  width: 200px;
  height: 200px;
}

.image-container .profile-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card .hero-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start-end;
  align-items: center;
  width: 100%;
  height: 40%;
  transform: translateY(120px);
  overflow: hidden;
  transition: 0.3s;
}

.card:hover .hero-container {
  height: 100%;
  transform: translateY(180px);
}

.card .card-header h1 {
  font-size: 1.75em;
  font-weight: 900;
  text-transform: uppercase;
}

.card .card-title h2 {
  font-size: 1.1em;
  font-weight: 700;
  color: #ffb120;
}

.card .card-content p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.4;
  text-align: start;
  padding: 20px 35px;
}

.btn-find {
  font-size: 0.95em;
  font-weight: 500;
  padding: 10px 30px;
  margin: 20px;
  border: none;
  outline: none;
  background: #ffb120;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.btn-find:hover {
  background: #fff;
  border: 2px solid #ffb120;
  color: #ffb120;
}